body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

#footer {
    text-align: center;
    color: #777;
}
#header-image{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 150px;
    height: 130px;
    border: #333;
    border-radius: 100px;
}
#github-logo {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}